* {margin:0;padding:0;font-size:11px; font-family: verdana}
ul li {clear:both; display:block; padding:5px; background-color:#ff2c00;}
ul li:nth-child(even) {background-color:#fca16d;}
ul li a {color:#fff;text-decoration:none;}
ul li * {display:block;clear:both;}
#welcome {text-align:center;padding:5px;}
#taskStatus {background:url(../done.png) no-repeat 5px center #a0e237;display:none; line-height:16px; padding:5px 5px 5px 23px; color:#000; font-weight:bold;}
#error {background:url(../error.png) no-repeat 5px center #c0442a;display:none; line-height:16px; padding:5px 5px 5px 23px; color:#fff;}
#error a {color:#fff; text-decoration:none;}
.copyLink {cursor: pointer;}
.copyLink:hover {text-decoration: underline;}
